.cocktail-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cocktail-details-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.cocktail-details-container img {
  max-width: 100%;
  height: 70%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cocktail-details-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #666;
}

.cocktail-details-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.cocktail-details-container ul {
  list-style-type: none;
  padding: 0;
}

.cocktail-details-container li {
  font-size: 16px;
  margin-bottom: 5px;
  color: #666;
}
