/* Product.css */
.cocktail-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktail-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0px 2px 10px rgb(77, 76, 76);
}

.cocktail-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cocktail-item p {
  font-size: 16px;
}

.cocktail-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

